# SysCore System Profile
# Managed by Ansible

Project={{ project_name }}
Environment={{ lab_environment }}
Hostname={{ ansible_hostname }}
OS={{ ansible_distribution }} {{ ansible_distribution_version }}
Architecture={{ ansible_architecture }}
RAM_MB={{ ansible_memtotal_mb }}
